/* header */
.header-box {
    width: 80%;
    max-width: 1500px;
    margin: 12px auto 0;
}

/* banner variables */
banner {
    --banner-color: #FFFFFF;
}

/* banner */
.banner {
    width: 100%;
    min-height: 190px;
    box-sizing: border-box;
    padding: 35px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../banner.png");
    background-size: cover;
    background-position: center;
    border-radius: 18px;
    overflow: hidden;
    position: relative;
}

/* banner title */
.banner h1 {
    position: relative;
    margin: 0;
    font-family: "Computer Modern Sans", sans-serif;
    font-size: clamp(3rem, 5vw, 4.35rem);
    line-height: 1.2;
    font-weight: 700;
    color: var(--banner-color);
}